@{
     Layout = null;
}

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PanicPizza</title>
    <link rel="stylesheet" href="~/css/mystyle.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>

	<!-- header section -->
	<header>
		<!-- <a href="#" class="logo">Food<span>Fun</span></a> -->
		<a href="#" class="logo"><img src="img/logo.png" alt="logo"></a>
		<ul class="navbar">
			<li><a href="#home">Home</a></li>
			<li><a href="#about">About</a></li>
			<li><a href="#menu">Menu</a></li>
			<li><a href="#contact">Contact</a></li>
		</ul>

		<div class="h-icons">
			<a href="Home/UserIndex">Admin</a>
		</div>
	</header>
    
	<!-- home section -->
	<section class="home" id="home">
		<div class="home-text">
			<h1><span>Welcome</span> to The World of Craziest  & Tasty Pizza</h1>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing. <br> Lorem ipsum dolor sit amet consectetur adipisicing.</p>
			<a href="#" class="btn_ms">Choose a Pizza</a>
		</div>

		<div class="home-img">
			<img src="img/home.png" alt="home">
		</div>
	</section>
	<!-- contact section -->
	<section class="container_ms">
		<div class="main-text">
			<h2>Ingredients</h2>
			<p>At Panic Pizza we only use top quality, locally grown ingredients</p>
			<p>Here you can find our flagship ingredients</p>
		</div>
		<div class="container-box">
			<div class="c-mainbox">
				<div class="container-img">
					<img src="img/b1.png" alt="box1">
				</div>
				<div class="container-text">
					<p>Delicate Dough</p>
				</div>
			</div>

			<div class="c-mainbox">
				<div class="container-img">
					<img src="img/b2.png" alt="box2">
				</div>
				<div class="container-text">
					<p>Fresh Tomatoes</p>
				</div>
			</div>

			<div class="c-mainbox">
				<div class="container-img">
					<img src="img/b3.png" alt="box3">
				</div>
				<div class="container-text">
					<p>Alpine Cheese</p>
				</div>
			</div>

			<div class="c-mainbox">
				<div class="container-img">
					<img src="img/b4.png" alt="box4">
				</div>
				<div class="container-text">
					<p>Italian Sausage</p>
				</div>
			</div>
		</div>

	</section>

	<!-- about section -->
	<section class="about" id="about">
		<div class="about-img">
			<img src="img/a.png" alt="">
		</div>

		<div class="about-text">
			<h2>The Delicious Food<br> For a Panic Mood</h2>
			<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque, ipsum?<br><br> Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, dolore pariatur! Enim inventore excepturi laudantium necessitatibus placeat mollitia, incidunt consequatur.</p>
			<a href="#" class="btn_ms">Choose a Pizza</a>
		</div>

	</section>

	<!-- menu section -->

	<section class="menu" id="menu">
		<div class="main-text">
			<h2>Most Popular Pizza</h2>
			<p>We have selected for You<br> the most exquisite tastes around the world</p>
		</div>

		<div class="menu-content">
			<div class="row">
				<img src="img/PANICPIZZA.png" alt="main-product1">
				<div class="menu-text">
					<div class="menu-left">
						<h4>Margarita</h4>
					</div>
					<div class="menu-right">
						<h5>$17.00</h5>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, magnam.</p>
				 <div class="star">
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
				</div> 
			</div>

			<div class="row">
				<img src="img/PANICPIZZA (1).png" alt="main-product2">
				<div class="menu-text">
					<div class="menu-left">
						<h4>Montanara</h4>
					</div>
					<div class="menu-right">
						<h5>$17.00</h5>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, magnam.</p>
				 <div class="star">
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
				</div> 
			</div>

			<div class="row">
				<img src="img/PANICPIZZA (2).png" alt="main-product3">
				<div class="menu-text">
					<div class="menu-left">
						<h4>Con Carne</h4>
					</div>
					<div class="menu-right">
						<h5>$17.00</h5>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, magnam.</p>
				 <div class="star">
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-regular fa-star" style="color: #eeff00;"></i>
				</div> 
			</div>

			<div class="row">
				<img src="img/PANICPIZZA (4).png" alt="main-product4">
				<div class="menu-text">
					<div class="menu-left">
						<h4>Pepperoni</h4>
					</div>
					<div class="menu-right">
						<h5>$17.00</h5>
					</div>
				</div>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus, magnam.</p>
				 <div class="star">
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
					<i class="fa-solid fa-star" style="color: #ffea05;"></i>
				</div> 
			</div>
		</div>

	</section>
	<!-- contact section -->

	<section class="contact" id="contact">
		<div class="main-contact">
			<div class="contact-content">
				<h4>Services</h4>
				<li><a href="#home">Home</a></li>
				<li><a href="#about">About</a></li>
				<li><a href="#menu">Menu</a></li>
				<li><a href="#contact">Contact</a></li>
			</div>

			<div class="contact-content">
				<h4>Delivery</h4>
				<li><a href="#home">Uber Eats</a></li>
				<li><a href="#about">DoorDash</a></li>
				<li><a href="#menu">ChowNow</a></li>
				<li><a href="#contact">Toast TakeOut</a></li>
			</div>

			<div class="contact-content">
				<h4>Contact</h4>
				<li><a href="#home">Contact Us</a></li>
				<li><a href="#about">Press Center</a></li>
				<li><a href="#menu">Careers</a></li>
				<li><a href="#contact">FAQ</a></li>
			</div>

			<div class="contact-content">
				<h4>Follow Us</h4>
				<li><a href="#home">TikTok</a></li>
				<li><a href="#about">Twitter</a></li>
				<li><a href="#menu">Facebook</a></li>
				<li><a href="#menu">Instagramm</a></li>
			</div>
		</div>
	</section>
	<div class="last-text">
		<p>© Developed 2023 by LUIGI.NET</p>
	</div>

	<!-- scroll top -->
	<a href="#home" class="scroll-top">
		<i class="fa-solid fa-arrow-up" style="color: #ffffff;"></i>
	</a>
</body>
</html>
